<div class="container">
    <div class="form">
        <form class="edit-form">
            <label for="title"></label>
            <input name="title" type="text" value="{{blog.title}}">
             <label for="description"></label>
            <textarea value="{{blog.description}}" name="description" id="blog-description" cols="30" rows="10"></textarea>
            <button id="submit-edit-form" type="submit">Update</button>
        </form>
    </div>

</div>
<script src="/js/profile.js"></script>
<script src="/js/edit.js"></script>
<script src="/js/logout.js"></script>