<div>
   
        <form id="login-form">
          <div class="mb-3">
            <label class="form-label" for="login-email">Email:</label>
            <input class="form-control" type="text" id="login-email">
            </div>
            <div class="mb-3">
              <label class="form-label" for="login-password">Password:</label>
            <input class="form-control" name="login-password" type="password" id="login-password" />
          </div>
            <button class="btn btn-primary" type="submit">login</button>
        </form>
       

</div>

<script src="/js/login.js"></script>
