<div class="row">
    <div class="col-md-6">
        <form class="login-form">
            <label for="login-email">Email:</label>
            <label for="login-password">Password:</label>
            <input class="form-input" type="text" id="login-email">
            <input class="form-input" type="password" id="login-password" />
            <button class="btn btn-primary" type="submit">login</button>
        </form>
        </div>

</div>

<script src="/js/login"></script>
