<div class="container">
        <form class="signup-form">
            <div>
            <label for="signup-name">Name</label>
             <input class="form-input" type="text" id="name-signup" name="signup-name"/>
             </div>
             <div>
            <label for="signup-email">Email</label>
              <input class="form-input" type="text" name="signup-email" id="email-signup"/>
            </div>
            <div>
            <label for="">Password</label>
             <input class="form-input" type="password" id="password-signup" name="password-signup"/>
           </div>
            <button class="btn btn-primary" type="submit">signup</button>
        </form>
</div>
<script src="/js/signup.js"></script>